:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Colors */
  --color-accent: #627eca;
  --color-dark: #432323;
  --color-light: #dfdfdf;
  --color-back: #2e2d2d;

  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  --border: 2px solid var(--color-accent);
  --border-sec: 1px solid var(--font-color);

  --padding: 2% 5%;

  /* Fonts */
  --font-color: #E0D9D9;
  --font-color-sec: #432323;

  --animation: transform .3s ease-in-out;

  /* Inputs */
  --input-color-back: #7c7c7c;
  --input-placeholder: rgb(201, 192, 192);
}

* {
  color: var(--font-color);
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: var(--color-back);

  section {
    padding: 8vh 2vw 0;
    height: 100vh;
    box-sizing: content-box;
  }

  .align-home-page, 
  .align-home-page-midle {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  #Start,
  #Banner {
    padding: 6vh 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .img-background {
    width: 40vw;
    height: 94vh;
    object-fit: cover;
    border: 1vw solid white;
  }
}

#About {
  p, strong {
    font-size: clamp(.8em, 2vw, 1.4em);
  }
}

h1 {
  font-size: clamp(3em, 4vw, 6em);
  color: var(--color-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;

  * {
    color: var(--color-accent);
    font-size: clamp(.8em, 1vw, 1.2em);
  }
}

h2 {
  font-size: clamp(1.2em, 2vw, 2em);
  color: var(--color-accent);
}

#subtitle {
  margin-top: calc(-1vw - 1vh);
  color: var(--font-color);
}

h3 {
  font-size: clamp(1em, 1.5vw, 1.3em);
  color: var(--font-color);
}

button {
  margin: auto;
  margin-top: clamp(50px, 5%, 100px);
  padding: clamp(12px, 2%, 20px) clamp(10px, 4%, 40px);
  font-size: clamp(.8em, 2.4vw, 1.6em);
  font-weight: bold;
  border-radius: 4px;
  border: none;
  color: var(--font-color);
  background-color: var(--color-accent);
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 10px;

  * {
    color: inherit;
    font-size: clamp(.6em, 2vw, 1em);
  }

  &::before {
    content: '';
    position: absolute;
    inset: .25vh;
    transform-origin: center;
    transform: scaleX(0);
    transition: var(--animation);
    background-color: var(--font-color);
    z-index: -1;
  }

  &:hover {
    color: var(--color-accent);
  }

  &:hover::before {
    transform-origin: center;
    transform: scaleX(1);
  }
}

/* FAQ */
details {
  padding: 2vh 2vw;
  margin: 2vh 2vw;
  border: var(--border);
  border-color: var(--font-color);
  text-align: left;

  &:focus-within {
    box-shadow: var(--shadow);
  }

  &:open summary {
    margin-bottom: 3vh;
    padding-bottom: 1vh;
    border-bottom: 1px solid var(--color-accent);
  }

  summary {
    text-align: center;
    font-weight: bold;
    font-size: clamp(0.9em, 2vw, 1.3em);
  }

  span {
    font-size: clamp(0.8em, 2vw, 1.1em);
  }
}

@media screen and (max-width: 900px) {
  .page-home {
    padding: 22vh 2vw 1vh;
    min-height: 77vh;
  }

  footer {
    flex-direction: column;
  }
}