{% extends "base.html" %}

    {% block title %} Entrar {% endblock %}

    {% load static %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'login.css' %}">
        <script type=text/javascript src="{% static 'js/login.js' %}"></script>
    {% endblock %}

    {% block page %}
        <div class="login-content">
            <div class="tabs">
              <button id="tab-active" style="float: left;" class="tablinks" onclick="showTab(this)"> Entrar </button>
              <button  class="tablinks" onclick="showTab(this)"> Cadastrar </button>
            </div>
            <div style="display: block;" class="login-tab" id="Login">
                <form name="login-form" method="POST" action="/users/login/">
                    {% csrf_token %}
                        {{ login.username }}
                        {{ login.password }}
                    <input class="submit-input" type="submit" value="Entrar">
                </form>
            </div>

            <div class="login-tab" id="Signup">
                <form  method="POST" action="/users/register/">
                    {% csrf_token %}
                    {{ signup.username }}
                    {{ signup.email }}
                    {{ signup.password1 }}
                    {{ signup.password2 }}
                    {{ signup.pwd_db }}
                    <input class="submit-input" type="submit" value="Cadastrar">
                </form>
            </div>
        </div>
    </div>
    {% endblock %}