/* Posts */
#Cards {
  max-width: 800px;
  margin: -2vh auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;

  article {
    flex: 0 0 50%;
    aspect-ratio: 1/ 1.25;
    cursor: pointer;

    div {
      height: calc(100% - 8px);
      margin: .2vw;
      display: flex;
      border: var(--border-cards);
      position: relative;
      background-color: white;
    }

    .card-img {
      width: 100%;
      height: auto;
      object-fit: fill;
    }
  }
}

/* profile */
.profile {
  width: 100%;
  margin: .2vw;
  padding: .5vw;
  display: flex;
  gap: 0 .5vw;
  background-color:transparent;
  border: var(--border-cards);

  #profileImg {
    width: 8vw;
    min-width: 120px;
    height: 100%; 
    object-fit: fill;
    aspect-ratio: 1/1.2;
    background-color: white;
  }

  .profile-data {
    margin: .5vh 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vh 0;

    .align-name {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        font-size: clamp(1em, 2vw, 1.5em);
        font-weight: bold;
        color: var(--color-accent);
      }

      * {
        cursor: pointer;
        color: var(--color-accent);
      }
    }

    .desc {
      width: calc(100% - 10px);
      height: 8vh;
      padding: 5px;
      text-align: left;
      font-size: clamp(0.8em, 1vw, 1em);
      border-top: var(--border-cards);
    }
  }
}

/* Modal */
#NewPostModal,
#ViewPostModal,
#EditUserModal {
  position: fixed;
  inset: 0;
  background-color: #000000F2;
  z-index: 999;

  .modal {
    width: clamp(320px, 96vw, 800px);
    margin: 4vh auto auto;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--color-back);
    border: var(--border-cards);

    #postImg,
    .comment-page {
      width: 100%;
      height: 80vh;
      object-fit: fill;
    }
  }

  .modal-data {
    padding: 0 .5vw;
    display: inline-flex;
    justify-content: space-between;

    * {
      color: var(--font-color);
    }

    .align-nick {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 0 5px;
      cursor: pointer;

      * {
        color: var(--font-color);
        font-weight: bold;
      }

      .user-pic {
        width: 36px;
        height: 32px;
        border-radius: 50%;
      }

      .username {
        font-size: clamp(0.8em, 1.5vw, 1.1em);
      }
    }

    .btns {
      display: inline-flex;
      align-items: center;
      gap: 0 5px;

      button {
        height: 3vh;
        width: 2.5vw;
        margin-top: 2vh;
        justify-content: center;
        padding: clamp(8px, 2%, 16px) clamp(24px, 4%, 32px);
        font-size: clamp(.7em, 1vw, .9em);

        &::before {
          inset: 2px;
        }

        &:hover {
          color: var(--color-accent);
        }

        &:hover * {
          color: var(--color-accent);
        }
      }
    }
  }

  button {
    margin: .5vh auto;
    padding: clamp(4px, 1%, 16px) clamp(4px, 2%, 16px);
    font-size: clamp(.8em, 1.2vw, 1.2em);
  }
} 

.comment-page {
  display: flex;
  flex-direction: column;

  a {
    font-size: clamp(0.6em, 1vw, 0.8em);
  }

  a * {
    cursor: pointer;
  }

  .date {
    text-align: right;
    margin: auto 1vw 0 auto;
  }

  .comments-div {
    width: 98%;
    height: 100%;
    margin: auto;
    overflow: auto;
    display: flex;
    flex-direction: column;

    .input-new-comment {
      padding: 5px;
      color: var(--font-color);
      background-color: transparent;
      border: 1px solid var(--color-accent);
      font-size: clamp(0.8em, 1.5vw, 1em);
      outline: none;

      ::placeholder {
      font-size: clamp(0.8em, 1.5vw, 1em);
      }
    }

    .comment-card {
      position: relative;
      display: flex;
      flex-direction: column;
      margin: .5vh .5vw;
      padding: .5vh .5vw;
      border-bottom: var(--border-sec);
      font-size: clamp(0.8em, 1.5vw, 1em);

      .comment {
        text-align: left;
        margin: 0 0 1vh;
        font-size: clamp(0.8em, 1.5vw, 1em);
      }

      .comment-align {
        display: inline-flex;
        justify-content: space-between;

        span {
          font-weight: bold;
          color: var(--color-accent);
        }
      }
    }
  }
}

#editUser {
  max-width: 600px;
  margin: 4vh auto auto;
  padding: 1vh 1vw;

  #imgPreview {
    width: clamp(128px, 20vw, 196px);
    height: 20vh;
    object-fit: fill;
    border-radius: 50%;
    background-color: white;
  }

  bottom {
    height: 3vh;
    width: 2.5vw;
    margin-top: 2vh;
    justify-content: center;
    padding: clamp(8px, 2%, 16px) clamp(12px, 2%, 20px);
    font-size: clamp(.7em, 1vw, .9em);
  }
}