
    <div class="div-friend-list">
        <a class="title"> Conexões: </a>
        {% for friend in friends %}

        <div class="div-friend">
            <div class="div-icon">
                <img  class="friend-icon" src="{{ friend.profile.image.url }}" onclick="location.href='/profiles/id={{ friend.id }}/'">
                <a> {{ friend.username }} </a>
            </div>
            {% if you %}
                <button class="btn-add-friend" style="visibility: hidden;"></button>
            {% else %}
                <button class="btn-add-friend" onclick="location.href='/profiles/follow={{ friend.id }}'">
                <i class="fa-solid fa-user-plus"></i> Desconectar </button>
            {% endif %}
        </div>

        {% endfor %}
    </div>