{% extends "base.html" %}
    {% block title %} Perfil {% endblock %}

    {% load static %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'profile.css' %}">
        <link rel="stylesheet" href="{% static 'posts.css' %}">
        <script type="text/javascript" src="{% static 'js/profile.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/posts.js' %}" ></script>
    {% endblock %}

    {% block page %}
        {% include "sidebar.html" %}

        <div class="profile-view" id="viewPosts" style="display: block;">

            {% include "posts.html" %}

        </div>


    {% endblock %}