{% extends "base.html" %}
    {% block title %} Sobre {% endblock %}

    {% block page %}

        <div class="about-div">
            <h1 class="title"> Sobre:</h1>
            <h3> Projeto de rede social inspirada no instagram feita por um estudante python com Django e PostgreSql</h3>
            <h3> Permite fazer postagens, comentarios e dar likes nas postagens alem de seguir teus contatos </h3>
            <h2> Projeto em desenvolvimento!!!</h2>

            <h2> Estrutura: </h2>
            <a class="about-link" href="/users/login/"><h3>/users/login/ - Pagina de login  e Cadastro </h3></a>
            <a class="about-link" href="/about/"><h3>/about/ - Pagina sobre o site </h3></a>
            <a class="about-link" href="/profiles/"><h3>/profile/ - Pagina do perfil do usuario </h3></a>
            <h2> Posts: </h2>
            <a class="about-link" href="/profiles/friends/images/"><h3>/profiles/friends/images/ - Pagina com as imagens dos "amigos" </h3></a>
            <a class="about-link" href="/profiles/friends/thinking/"><h3>/profiles/friends/thinking/ - Pagina com os posts dos "amigos" </h3></a>
            <a class="about-link" href="/profiles/all/images/"><h3>/profiles/all/images/ - Pagina com as imagens de todos os usuarios </h3></a>
            <a class="about-link" href="/profiles/all/thinking/"><h3>/profiles/all/thinking/ - Pagina com os posts de todos os usuarios </h3></a>
            <a class="about-link" href="/profiles/find/"><h3>/profiles/find/ - Pagina para encontrar novos contatos </h3></a>
        </div>



    {% endblock %}