<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - You </title>
    {% load static %}
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <script src="https://kit.fontawesome.com/71fde90bd7.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    {% block css %} {% endblock %}
</head>

<body>
    <div class="navbar">
        <a href="/profiles/"> You! </a>

        <div class="dropdown">
            <button class="dropbtn"> Conexões
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/profiles/friends/images/"> Imagens </a>
                <a href="/profiles/friends/thinking/"> Pensamentos </a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn"> Horizonte
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/profiles/all/images/"> Imagens </a>
                <a href="/profiles/all/thinking/"> Pensamentos </a>
                <a href="/profiles/find/"> Pessoas </a>
            </div>
        </div>

        <a href="/about"> Sobre </a>
        <div class="dropdown">
            <button class="dropbtn"> Login
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/users/login/"> Entrar </a>
                <a href="/users/logout/"> Sair </a>
            </div>
        </div>
    </div>


    <div class="content">
        {% block page %} {% endblock %}
    </div>

</body>
</html>