<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <script src="https://kit.fontawesome.com/71fde90bd7.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="navbar">
        <a id="active" href="/"> Inicio </a>
        <div class="dropdown">
            <button class="dropbtn"> You
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/profile"> Você </a>
                <a href="/profile/post/add"> Fale </a>
                <a href="/profile/img/add"> Mostre </a>
                <a href="/profile/edit"> Ajustes </a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"> Horizonte
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <div class="divider">
                    <hr class="left"/>Amigos<hr class="right" />
                </div>
                <a href="/friends/post"> Pensamentos</a>
                <a href="/friends/img"> Fotos</a>
                <a href="/friends/find"> Amigos</a>
                <div class="divider">
                    <hr class="left"/>Todos<hr class="right" />
                </div>
                <a href="/all/post"> Pensamentos</a>
                <a href="/all/img"> Fotos</a>
            </div>
        </div>
        <a href="/about"> Sobre </a>
        <div class="dropdown">
            <button class="dropbtn"> Conta
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/check"> Entrar</a>
                <a href="/logout"> Sair </a>
            </div>
        </div>
    </div>

    <div class="content">
        <div style="text-align: center;">
            <h1 class="title"> Bem vindo a You! </h1>
            <h2> A rede social focada em você</h2>
             <h2> Sua vida... </h2>
            <h2> Seu mundo...</h2>
            <h2> Sua You!!</h2>
        </div>
    </div>

</body>
</html>