<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='posts.css')}}">
    <script src="https://kit.fontawesome.com/71fde90bd7.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="navbar">
        <a id="active" href="/"> Inicio </a>
        <div class="dropdown">
            <button class="dropbtn"> You
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/profile"> Você </a>
                <a href="/profile/post/add"> Fale </a>
                <a href="/profile/img/add"> Mostre </a>
                <a href="/profile/edit"> Ajustes </a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn"> Horizonte
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <div class="divider">
                    <hr class="left"/>Amigos<hr class="right" />
                </div>
                <a href="/friends/post"> Pensamentos</a>
                <a href="/friends/img"> Fotos</a>
                <a href="/friends/find"> Amigos</a>
                <div class="divider">
                    <hr class="left"/>Todos<hr class="right" />
                </div>
                <a href="/all/post"> Pensamentos</a>
                <a href="/all/img"> Fotos</a>
            </div>
        </div>
        <a href="/about"> Sobre </a>
        <div class="dropdown">
            <button class="dropbtn"> Conta
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/check"> Entrar</a>
                <a href="/logout"> Sair </a>
            </div>
        </div>
    </div>

    <div class="content">
            {% if data %}
            {% for item in data %}
                <div class="card-preview-image" onclick="show_modal(x)">
                    <img  class="preview-image" src="{{url_for('static', filename=item.img_path)}}">
                    <div class="preview-div-text">
                        <div class="div-nick">
                            <a  class="mini-nick" href="/profile/id={{ item.user.id }}">{{ item.user.username }}</a>
                        </div>

                        {% if item.liked == True %}
                            <a href="/image/id={{ item.id }}/add_like" class="like">
                            <i class="fa-solid fa-thumbs-up fa-xl like-icon"> </i> {{ item.likes|length }}</a>
                        {% else %}
                            <a style="background-color: lightgrey;" href="/image/id={{ item.id }}/add_like" class="like">
                            <i class="fa-solid fa-thumbs-up fa-xl like-icon"> </i> {{ item.likes|length }}</a>
                        {% endif %}

                        <div class="div-text">
                            <pre class="post-text">{{ item.text }}</pre>
                        </div>

                            {% for comment in item.comments %}
                            <div class="div-comment">
                                <a class="mini-nick" href="/profile/id=">{{ comment.user.username }}</a>
                                <p class="comment"> {{ comment.text }}</p>
                                {% if user.id == comment.user.id %}
                                    <a class="delete" href="/image/id={{ item.id }}/delete_comment={{ comment.id }}"><i class="fa-solid fa-trash"></i></a>
                                {% endif %}
                            </div>
                            {% endfor %}

                        <div class="post-div-bottom">
                            <a class="date"> {{ item.date }}</a>
                            {% if user.id == item.user.id %}
                                <a class="delete" href="/profile/post/delete={{ item.id }}"><i class="fa-solid fa-trash"></i></a>
                            {% endif %}
                        </div>
                        <div class="post-div-bottom">
                            <form method="POST" action="/image/id={{ item.id }}/add_comment">
                                <input class="comment-input" name="comment" type="text" placeholder="Faça um comentario...">
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
    </div>

</body>
</html>