.app-navbar {
  position: fixed;
  inset: 0 0 auto 0;
  width: calc(100% - 2em);
  padding: 4px 1em;
  display: flex;
  justify-content: center;
  gap: 0 3em;
  background-color: var(--color_accent);
  z-index: 999;
  box-shadow: var(--shadow);
}

.app-navbar-icon-div {
  display: flex;
  flex-direction: column;
  gap: 4px 0;
  cursor: pointer;
}

.app-navbar-icon-div * {
  color: lightgrey;
}

.app-navbar-icon-div:hover *,
.nav-active * {
  color: white;
}

.app-icon {
  font-size: 1.2rem;
}

/* Posts */
.view-posts {
  width: auto;
  max-width: 1000px;
  margin: auto;
  padding-top: 4em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card-background {
  flex: 0 0 50%;
  aspect-ratio: 1/ 1.2;
}

.card-post {
  height: calc(100% - 10px);
  margin: 5px;
  display: flex;
  border: 1px solid grey;
  position: relative;
}

.card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Modal */
.modal-background {
  display: none;
  position: fixed;
  inset: 0;
  background-color: #000000F2;
  z-index: 999;
}

.modal-img {
  width: 100%;
  height: calc(100% - 48px);
  object-fit: fill;
}

.modal-align-name {
  width: 96%;
  height: 40px;
  margin: 0 auto;
  padding: 2px 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.align-nick {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0 10px;
  padding: 4px 0;
}

.align-nick * {
  color: var(--fontColor_sec);
}

.modal-align-btns {
  padding: 2px 0;
  height: 36px;
  display: inline-flex;
  align-items: center;
  gap: 0 4px;
}

.modal-btn {
  height: 36px;
  padding: 4px 0.5em;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  color: var(--fontColor_pri);
  background-color: var(--color_accent);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0 4px;
}

.modal-user-img {
  width: 40px;
  height: 40px;
  background-color: grey;
  border-radius: 50%;
}

.modal-username {
  font-size: 1.3rem;
}

.modal-info {
  height: 95%;
  display: none;
  flex-direction: column;
}

.modal-info * {
  color: var(--fontColor_sec);
}

.modal-desc {
  display: flex;
  height: 20%;
  flex-direction: column;
}

.modal-date {
  text-align: left;
  margin: auto 0 0 10px;
}

.comments-div {
  height: 80%;
  width: 98%;
  margin: auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.new-comment {
  width: calc(100% - 2px);
  height: 32px;
  display: inline-flex;
  border: 1px solid grey;
  border-radius: 2px;
}

.input-new-comment {
  width: calc(100% - 32px);
  border: 0;
}

.btn-new-comment {
  width: 32px;
  border: 0;
  background-color: var(--color_accent);
  color: aqua;
}

.btn-new-comment * {
  color: white;
}

.comment-card {
  position: relative;
  height: auto;
  display: flex;
  margin: 5px;
  flex-direction: column;
  background-color: white;
  border-bottom: 1px solid grey;
  font-size: 0.9rem;
}

.comment-username {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}

.comment {
  text-align: left;
  width: 96%;
  margin: 0 auto 30px;
}

.post-align-btns {
  position: absolute;
  inset: auto 2% 0 2%;
  width: 96%;
  display: inline-flex;
  justify-content: space-between;
}


/* NewPosts */
.modal-new {
  max-width: 710px;
  width: 96%;
  height: 96%;
  margin: 1% auto auto;
  display: flex;
  flex-direction: column;
  gap: 5px 0;
  background-color: white;
  position: relative;
}

.img-preview {
  width: 98%;
  height: 90%;
  margin: 5px auto 0;
  object-fit: fill;
}

.select-image {
  display: none;
}

.newpost-btn {
  margin: auto;
  background-color: var(--color_accent);
  color: var(--fontColor_pri);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.4em 2em;
  border: none;
  border-radius: 4px;
}

.input-text-desc {
  width: 98%;
  padding: 8px 0px;
  margin: auto;
  color: var(--fontColor_sec);
}

/* edit user */
.div-edit-user {
  background-color: var(--color_accent);
  width: 90%;
  max-width: 500px;
  margin: 5em auto;
  padding: 2em 0;
}

.select-image {
  display: none;
}

.img-user-preview {
  width: 192px;
  height: 192px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

/* Login */
.login-div {
  display: block;
  width: 500px;
  margin: auto;
  padding: 1em;
  background-color: var(--color_accent);
}

.login-title {
  color: var(--fontColor_pri);
  font-weight: 600;
  font-size: 1.6em;
}

.login-text-link {
  color: var(--fontColor_sec);
  cursor: pointer;
  text-decoration: underline;
}

.div-input {
  width: calc(80% - 16px);
  height: auto;
  margin: 2%;
  background-color: lightgrey;
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 2px;
}

.text-input {
  width: 100%;
  padding: 4px;
  border: none;
  font-weight: 600;
  color: var(--fontColor_sec);
  outline: 0;
  background-color: transparent;
}

.icon-input,
.icon-input-validate {
  margin: 0 1em 0;
  background-color: lightgrey;
}

.icon-input * {
  color: red;
  font-size: 3rem;
  font-weight: bold;
}

.icon-input-validate * {
  color: green;
  font-size: 3rem;
  font-weight: bold;
}

.align-input {
  width: auto;
  height: auto;
  padding: 1em 0 1em;
}

.select-image {
  display: none;
}

.login-tip {
  font-size: 1.2rem;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .login-div {
    width: calc(90% - 1em);
    margin: auto 5%;
    padding: 0.5em;
  }

  .div-input {
    width: 92%;
  }

}

@media screen and (max-width: 500px) {
  .app-navbar {
    gap: 0 1em;
  }
}

@media screen and (max-width: 400px) {
  .app-navbar-icon-div {
    font-size: 0.8rem;
  }

  .app-icon {
    font-size: 1rem;
  }
}