/* Navbar */
nav {
  position: fixed;
  inset: 0 0 auto 0;
  padding: .2vh 0;
  display: flex;
  justify-content: center;
  z-index: 990;
  background-color: var(--color-accent);
  box-shadow: var(--shadow);

   * {
    color: var(--font-color);
  }

  span {
    padding: .5vh 1vw;
    margin: 2px .5vw;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: clamp(.6em, 1vw, .8em);
    position: relative;
    display: flex;
    flex-direction: column;

    &::before {
      content: '';
      position: absolute;
      inset: 1px; 
      border-radius: 4px;
      background-color: var(--font-color);
      transform-origin: right;
      transform: scaleX(0);
      transition: var(--animation);
      z-index: -1;
    }

    &:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }

    &:hover,
    &:hover * {
      color: var(--color-accent);
    }
  }
}