{% extends "base.html" %}
    {% block content %}
        {% block head %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css')}}">
            <script type=text/javascript src="{{url_for('static', filename='js/login.js')}}"></script>
        {% endblock %}


        <div class="content">

            {% for message in get_flashed_messages() %}
                <div class="alert-error">{{ message }}</div>
            {% endfor %}

            <div class="login-content">
                <div class="tabs">
                  <button id="tab-active" style="float: left;" class="tablinks" onclick="show_login(this)"> Entrar </button>
                  <button  class="tablinks" onclick="show_signup(this)"> Cadastrar </button>
                </div>

                <div style="display: block;" class="login-tab" id="Login">
                    <h1 class="title"> Entrar: </h1>
                    <form onsubmit="return validLogin(this)" method="POST" action="/login">
                        <input class="user-input" type="text" name="username" placeholder="Usuario">
                        <input class="password-input" type="password" name="password" placeholder="Senha">
                        <input class="submit-input" type="submit" value="Entrar">
                    </form>
                </div>

                <div class="login-tab" id="Signup">
                    <h1 class="title"> Cadastrar: </h1>
                    <form onsubmit="return validSignup(this)" method="POST" action="/signup">
                        <input class="user-input" type="text" name="username" placeholder="Usuario">
                        <input class="password-input" type="password" name="password" id="passsword" placeholder="Senha">
                        <input class="password-input" type="password" name="pwd" id="passowrd_b" placeholder="Comfirme senha">
                        <input class="user-input" type="email" name="email" placeholder="Email">
                        <input class="submit-input" type="submit" value="Criar conta">
                    </form>
                </div>

            </div>
        </div>
    {% endblock %}