{% extends "base.html" %}
    {% block content %}
        {% block head %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='posts.css')}}">
        {% endblock %}

        <div class="content">
            {% if data %}
                {% for item in data %}
                    <div class="card-preview-image" onclick="show_modal(x)">
                        <img  class="preview-image" src="{{url_for('static', filename=item.img_path)}}">
                        <div class="preview-div-text">
                            <div class="div-nick">
                                <a  class="mini-nick" href="/profile/id={{ item.user.id }}">{{ item.user.username }}</a>
                            </div>

                            {% if item.liked == True %}
                                <a href="/image/id={{ item.id }}/add_like" class="like">
                                <i class="fa-solid fa-thumbs-up fa-xl like-icon"> </i> {{ item.likes|length }}</a>
                            {% else %}
                                <a style="background-color: lightgrey;" href="/image/id={{ item.id }}/add_like" class="like">
                                <i class="fa-solid fa-thumbs-up fa-xl like-icon"> </i> {{ item.likes|length }}</a>
                            {% endif %}

                            <div class="div-text">
                                <pre class="post-text">{{ item.text }}</pre>
                            </div>

                                {% for comment in item.comments %}
                                <div class="div-comment">
                                    <a class="mini-nick" href="/profile/id=">{{ comment.user.username }}</a>
                                    <p class="comment"> {{ comment.text }}</p>
                                    {% if user.id == comment.user.id %}
                                        <a class="delete" href="/image/id={{ item.id }}/delete_comment={{ comment.id }}"><i class="fa-solid fa-trash"></i></a>
                                    {% endif %}
                                </div>
                                {% endfor %}

                            <div class="post-div-bottom">
                                <a class="date"> {{ item.date }}</a>
                                {% if user.id == item.user.id %}
                                    <a class="delete" href="/profile/post/delete={{ item.id }}"><i class="fa-solid fa-trash"></i></a>
                                {% endif %}
                            </div>
                            <div class="post-div-bottom">
                                <form method="POST" action="/image/id={{ item.id }}/add_comment">
                                    <input class="comment-input" name="comment" type="text" placeholder="Faça um comentario...">
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endblock %}